* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  background: radial-gradient(circle at center, #9b5cff33, #000);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.container {
  text-align: center;
}

.logo {
  width: 130px;
  margin-bottom: 20px;
  filter: drop-shadow(0 0 20px #9b5cff);
}

h1 {
  font-size: 44px;
  color: #b266ff;
  text-shadow:
    0 0 10px #b266ff,
    0 0 25px #7a1fff;
}

.version {
  display: inline-block;
  margin: 10px 0 20px;
  padding: 6px 16px;
  border: 1px solid #9b5cff;
  border-radius: 20px;
  color: #b266ff;
  box-shadow: 0 0 10px #9b5cff;
}

p {
  margin-bottom: 30px;
  opacity: 0.9;
}

.btn {
  display: inline-block;
  padding: 16px 38px;
  background: linear-gradient(135deg, #9b5cff, #5a00ff);
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 14px;
  box-shadow:
    0 0 20px #9b5cff,
    0 0 40px #5a00ff;
  transition: 0.3s;
}

.btn:hover {
  transform: scale(1.07);
  box-shadow:
    0 0 30px #b266ff,
    0 0 60px #7a1fff;
}

.footer {
  margin-top: 25px;
  font-size: 13px;
  opacity: 0.6;
}